* {
    box-sizing: border-box;
  }

  body {
    background-image: url(clouds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
  .jumbotron {
      text-align: center;
      align-items: center;
      color: white;
      background-color: rgb(34, 34, 36);
      height:100px;
      width: 100%;
      padding-top: 10px;
  }

  #fiveDay {
    color: white;
  }

  .form {
      width: 100%;
  }
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(34, 34, 36);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: rgb(73, 73, 74);
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .col-sm-8 {
    margin: auto;
    padding: 20px;
  }

  .col-sm-4 {
    margin-top: 40px;
  }
  #cityCont {
    background-color:rgb(77, 77, 80) ;
    padding: 30px;
    color: whitesmoke;
  }

  .city {
    width: 74%;
    height: 60px;
    text-align: center;
    background-color: rgb(34, 34, 36);
    color: white;
    margin: 10px;
  }

  .daily {
    background-color: rgb(131, 131, 136);
    color: white;
    width: 100%;
    height:200px;

  }

  .example {
    background-color: teal;
  }

  #uvIndex {
    width : 150px;
    font-weight : bold;
    padding-left: 10px;
    color: white;
  }
  .card {
    background-color: lightgrey;
    width: 160px;
  }